{{>partial_header}}
package {{packageName}}

import (
	"context"
	"net/http"
	"errors"{{#imports}}
	"{{import}}"{{/imports}}
)

// Mock{{classname}}Service is a mock implement for the interface {{classname}}Servicer
// This could implement logic by setting each function instance member.
type Mock{{classname}}Service struct {
	{{#operations}}{{#operation}}
	{{#isDeprecated}}
	// Deprecated
	{{/isDeprecated}}
	{{nickname}}Func func(ctx context.Context{{#allParams}}, {{paramName}} {{dataType}}{{/allParams}}) ({{#returnType}}result {{returnType}}, {{/returnType}}err error)
	{{/operation}}{{/operations}}
}

// NewMock{{classname}}Service creates a default api service
func NewMock{{classname}}Service() {{classname}}Servicer {
	return &Mock{{classname}}Service{}
}
{{#operations}}{{#operation}}

// {{nickname}} - {{summary}}
{{#isDeprecated}}
// Deprecated
{{/isDeprecated}}
func (s *Mock{{classname}}Service) {{nickname}}(ctx context.Context{{#allParams}}, {{paramName}} {{dataType}}{{/allParams}}) ({{#returnType}}result {{returnType}}, {{/returnType}}err error) {
	return s.{{nickname}}Func(ctx{{#allParams}}, {{paramName}}{{/allParams}})
}{{/operation}}{{/operations}}
